body{
    background-color: rgb(83, 81, 81);
}
form{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 150px;
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
}
p{
    text-align: center;
    margin-bottom: 0px;
}
label{
    margin-bottom: 0px;
}
#register{
    margin-left: 35%;
    margin-bottom: 0px;
}

input{
    margin-left: 20%;
    margin-bottom: 3px;
}
#sub{
    margin-left: 40%;
}
h3{
    text-align: center;
    margin-bottom: 0px;
}